@use "vars" as v;

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: v.$secondaryFont;
  font-size: 1.6rem;

  background-color: v.$lightBrown;
}

p {
  color: v.$black;
  font-size: 1.6rem;
  line-height: 2;
}

.container {
  max-width: 120rem;

  margin: 0 auto;
}

img {
  max-width: 100%;
  max-height: 100%;

  display: block;
}

h1, h2, h3 {
  margin: 0 0 v.$separation 0;

  font-family: v.$primaryFont;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
  color: v.$primary;

  span {
    display: block;

    font-size: 1.6rem;
    color: v.$secondary;
  }
}

h3 {
  font-size: 2.8rem;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}