@use "./vars" as v;

@mixin phoneQuerie {
  @media screen and (width >= v.$phone) {
    @content;
  }
}

@mixin tabletQuerie {
  @media screen and (width >= v.$tablet) {
    @content;
  }
}

@mixin desktopQuerie {
  @media screen and (width >= v.$desktop) {
    @content;
  }
}

@mixin responsiveGrid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}