/* Fuentes */
$primaryFont: 'Roboto', sans-serif;

/* Media Queries */
$phoneMedia: 480px;
$tabletMedia: 768px;
$desktopMedia: 1024px;

/* Colors */
$primary: #E8505B;
$secondary: #455A64;
$black: #000000;
$white: #FFFFFF;
$lightGray: #ECEEEF;

/* Units */
$separation: 5rem;